/* Media Queries */
@media (max-width: 1280px) {
  #container {
    width: 90%;
  }
}

@media (max-width: 1060px) {
  #container {
    width: 95%;
    gap: 1.5rem;
  }
  .presentTime {
    font-size: 3rem;
  }
  .activity{
    height: fit-content;
  }
}

@media (max-width: 830px) {
  #container {
    width: auto;
  }
}

@media (max-width: 790px) {
  #container {
    width: auto;
    gap: 1rem;
    align-items: center;
  }

  .activity {
    height: fit-content;
  }

  .presentTime {
    font-size: 2.5rem;
  }

  #person-name {
    font-size: 2rem;
  }
  
  #intro-card {
    height: 100%;
  }
}

@media (max-width: 710px) {
  #container {
    grid-template-columns: 1fr;
    width: 70%;
  }

  #intro-section {
    height: 60%;
    grid-row: 1 / span 1;
  }

  #btn-group {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 400px) {
  #container {
    grid-template-columns: 1fr;
    width: 90%;
    gap: 2rem;
  }

  #intro-section {
    height: 42%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #profile-img {
    width: 4rem;
    height: 4rem;
  }

  #person-name {
    font-size: 1.25rem;
  }

  #person-data {
    margin: 0;
  }

  .activity-details {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    align-items: baseline;
  }

  .activity-name {
    grid-column: 1 / span 3;
  }

  .presentTime {
    grid-column: 1 / span 2;
    font-size: 2rem;
  }

  .previousTime {
    grid-column: 3 / span 4;
  }

  .three-dots {
    font-size: 1rem;
    padding-right: 0rem;
  }
}

@media (max-width: 340px) {
  #container {
    width: auto;
    gap: 2rem;
  }

  #person-name {
    font-size: 1.25rem;
  }

  .presentTime {
    grid-column: 1 / span 1;
    font-size: 1.5rem;
  }

  .previousTime {
    grid-column: 2 / span 4;
    text-align: right;
  }
}
